.codex/history.jsonl
.codex/version.json
.codex/log
.codex/sessions

*.beam
*.ez
/**/build
erl_crash.dump

frontend/priv/static/frontend.mjs

# Node.js dependencies
node_modules/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
