@import "tailwindcss";
@plugin "daisyui";

@layer theme {
    :root {
        --hue-ds9: 175;

        /* Organization hue values */
        --hue-federation: 220;
        --hue-bajor: 10;
        --hue-cardassian: 175;
        --hue-klingon: 120;
        --hue-ferengi: 25;
        --hue-dominion: 270;
        --hue-command: 350;
        --hue-science-medical: 190;
    }
}
